@import '../../../variables.scss';
.advice{
    position: absolute;
    width: 200px;
    top: 50px;
    right: 550px;
    background-color: #483EFF;
    color: white;
    padding: 10px;
    border-radius: 10px;
}