@import '../../variables.scss';


@media(max-width: 600px){
    .thirdScreenContainer{
        @include screen;
        width: 343px;
        height: 383px;
    }
    
}

@media(max-width: 414px){
    .thirdScreenContainer{
        left: 30px;
    }
}

@media(max-width: 375px){
    .thirdScreenContainer{
        left: 15px;
    }
}