.desktopStepper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 274px;
    height: 568px;
    padding: 40px 89px 300px 32px;
    background-image: url('../../assets/bg-sidebar-desktop.svg');
}