
.screensContainer{
    display: flex;

    height: 500px;
    &--buttons{
        position: relative;
        align-self: flex-end;
        width: 100vw;
       
        height: 72px;
        &__right{
            position: absolute;
            top: 16px;
            bottom: 16px;
            right: 16px;
            width: 97px;
            height: 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            background: #022959;
            border-radius: 4px;
            color: white;
            border: none;
        }
        &__left{
            position: absolute;
            border: none;
            top: 16px;
            bottom: 16px;
            left: 16px;
            background: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #9699AA;
        }
    }
}