

.suscriptionCard{
    display: flex;
    width: 295px;
    height: 99px;
    margin-bottom: 12px;
    background: #F8F9FF;
    gap: 14px;
    padding: 14px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    &.active{
        border: 1px solid #483EFF;;
    }
}