@import '../../variables.scss';

.secondScreenContainer{
 
    &--cards{
        display: flex;
        gap: 18px;
    }
    &--toggle{
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
        &__text{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #9699AA; 
            &.active{
                color: #022959;
            }
        }
    }
}
@media(max-width: 600px){
    .secondScreenContainer{
        width: 343px;
        height: 500px;
        @include screen;
        &--cards{
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        &--toggle{
            display: flex;
            justify-content: center;
            gap: 24px;
            align-items: center;
            &__text{
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #9699AA; 
                &.active{
                    color: #022959;

                }
            }
        }
    }
}


@media(max-width: 414px){
    .secondScreenContainer{
        left: 30px;
    }
}

@media(max-width: 375px){
    .secondScreenContainer{
        left: 15px;
    }
}