@import '../../variables.scss';

.secondScreenContainer{
    width: 343px;
    height: 500px;
    @include screen;
    &--toggle{
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
        &__text{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #9699AA; 
            &.active{
                color: #022959;
            }
        }
    }
}